.home-page-container{
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    border: 0.5px solid grey;
}

.school-list-container{
    margin-left: 10%;
    margin-bottom: 5%;
}

.create-school-button{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 13%;
}

.title{
    margin-left: 25%;
    margin-top: 10%;
}