.school-container{
    border: 0.5px solid grey;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 3%;
    width: 80%;
    display: flex;
}
.image{
    border: 0.5px solid grey;
    margin-top: 3%;
    margin-bottom: 3%;
}

.image-placeholder{
    margin-top: 20%;
    margin-right: 3%;
    margin-left: 3%;
}

.label-container{
    width: 50%
}

.school-label{
    margin-left: 10%;
}

.update-school-button{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
}